<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>utf-8</charset>
			<pattern>%d [%thread] %-5level %logger{100} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="net.dorokhov.pony" level="DEBUG" />
	<logger name="org.jaudiotagger" level="WARN" />
	<!-- logger name="org.hibernate.SQL" level="DEBUG" /-->

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>